body {
      background-color: #b91450;
      font-family: Arial, Helvetica, sans-serif;
}

.text-wine {
      color: #b91450;
}

.border-wine {
      border-color: #b91450;
}

.bg-grey {
      background-color: grey;
}

.border-grey {
      border-top: 1px solid grey;
      border-bottom: 1px solid grey;
}
